
html {
	position: relative;
	min-height: 100%;
	min-width: 100%;
	
}
body {
	margin: 0;
	font-size: 1vw;
	font-family: 'Roboto', sans-serif;
	  background-image: linear-gradient(to bottom, #fdcb7b, #fcb84c, #faa307);
}
th {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	font-size: 1vw;
}
tr {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	height: 0.1vw;
	font-size: 1vw;
}
caption {
	color: black;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: left;
	font-size: 1.1vw;
}
header{
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.btn {
	float: center;
	color: white;
	font-size: 1vw;
}

.btn:hover {
	color: white;
	font-size: 1vw;
}

img {
  width: 25%;
  padding-bottom: 1.5vw;
}

h3 {
	margin: 0;
	font-family: 'Lato', sans-serif;
	text-align: left;
	color: #03071E;
}

.icon{
		color: white;

}


.cursor-default {
	cursor: default;
}

.footer{
	text-align: center;
	font-size: 1.2vw;
	color: #03071E;
	font-family: 'Source Sans Pro', sans-serif;
}
